h1{
	text-align: center;
	color: white;	
}

body{
	margin-top: 0px;
}

header{
	background-image: url("../image/music.jpg");
	background-size: 1500x;
	width: 1518px;
	height: 200px;
	clear: both;
	margin-top: -22px;
	margin-left: auto;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
p{
	text-align: left;
	background-color: rgb(0, 0, 102);
	color: white;
	margin-left: -25px;
	margin-right: 480px;
}

form{
	text-align: left;
	color: blue;
	margin-left: 500px;
}

fieldset{
	border: none;
	margin-left: -80px;
	margin-top: 30px;
	margin-bottom: -20px;
}

span,input[type=text]{
	margin-left: 70px;
	margin-bottom: 0px;
	margin-top: -20px;
	width: 10em;
	display: flex;
	align-items: center;
}

textarea{
	margin-top: 0px;
  margin-bottom: 40px;
  width: 200px;
	height: 60px;
	margin-left: 40px;	
}

::placeholder {
	color: blue;
	font-size: 10px;
}

span{
	color:red;
	margin-left: 250px;
}

button {
	margin-right: -650px;
	margin-left: 650px;
	margin-bottom: 20px;
	margin-top: -60px; 
}

select{
	margin-left: 70px;
	margin-bottom: 0px;
	margin-top: -20px;
	display: flex;
	align-items: center;
}

footer{
	left: 0;
  bottom: 0;
  width: 100%;
	background-color: rgb(0, 0, 102);
	color:white;
	text-align:center;
	margin-bottom: -20px;
}









