#soccerme:hover {
	filter: invert(100%);
}
	
a.active {
	color:white;
}	

nav ul {
  display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	padding-right: 10%;
	background-color: #ff6666;
}

@media only screen and (max-width: 480px) {
	nav ul{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	}
}
.demoHeaders {
	margin-top: 2em;
}

#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

#icons {
	margin: 0;
	padding: 0;
}

#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}

select {
	width: 200px;
}
	
p {
background-color:gray
}

body {
	font-family: 'Trebuchet MS', sans-serif;
}

	